@import 'header';
body{
    font-family: 'Aleo', serif;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}
.search-svg{
    fill: #5474FD;
    width: 60px;
height: 59px;
flex-shrink: 0;
}